/* =====Global ====*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Heebo", sans-serif;
}
body {
  /* max-width: 1200px; */
  width: 1152px;
  margin: auto;
  background-color: white;
}
.navBar {
  display: flex;
  justify-content: right;
  height: 45px;
  margin-top: 10px;
  margin-right: 10px;
}
.navBar a {
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  margin: auto 10px;
  color: black;
}
#menubar {
  display: none;
  font-size: 40px;
}
/* ===== Blog ===== */

.blog {
  padding: 10px;
  margin: 80px 100px auto 100px;
}

.blogContainer {
  display: block;
  background-color: white;
  padding: 1px;
  width: 800px;
  margin: 3px;
}
.blogContainer span {
  color: grey;
  margin-left: 20px;
}
.blogContainer p:nth-child(2) {
  display: block;
  margin: 15px auto;
}
hr {
  border-top: 1px solid rgb(234, 232, 232);
  margin: 20px auto;
}
/*=====================*/
/*====== Footer =======*/
.socialbadge {
  display: block;
  font-size: 50px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
.socialbadge i {
  padding: 10px;
}
#copyright {
  text-align: center;
  margin: 20px auto 50px;
}

/*============================*/
/*======= Small screen  ======*/
/*============================*/
@media (max-width: 500px) {
  body {
    width: auto px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #menubar {
    display: inline-block;
    position: relative;
    align-items: baseline;
    top: 80px;
    left: 200px;
  }
  body > .navBar {
    display: none;
  }
  .blog {
    padding: 5px;
    margin: 80px auto auto;
  }
  .blogContainer {
    display: block;
    width: 100vw;
    margin: 3px;
  }
}
